
<polymer-element name="tb-project" attributes="project">
  <script src="tb-project.js" type="text/javascript" charset="utf-8"></script>

  <template>
    <link href="tb-project.css" rel="stylesheet">

    <div>
      <p>
        <strong>{{project.name}}</strong><br />
        {{project.description}}
      </p>
    </div>
    <core-ajax
      id="delete-project"
      url="/projects/{{project.id}}"
      method="DELETE"
      on-core-response="{{showToast}}"
      headers='{"Accept":"application/json","X-CSRF-Token":"{{csrfToken}}"}'></core-ajax>  

    <paper-button class="danger" raisedButton on-tap="{{deleteProject}}" label="delete"></paper-button>


  </template>
</polymer-element>

