:host, #flash {
  display: inline-block;
}

#flash {
  display: none;
  position: relative;
  padding: 0.5em 0.7em;
  border-radius: 3px;
}

#flash p {
  margin: 0;
  height: 1.2em;
  padding-right: 1.5em;
}

#dismiss {
  position: absolute;
  right: 0em;
  top: 0em;
  margin: 0.5em 0.7em;
  cursor: pointer;
}

#flash.visible { display: block; }

#flash.fluid { width: auto; }
#flash.fixed { width: 640px; }
#flash.fixed p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#flash.notice {
  background: #259b24;
  color: white;
}

#flash.error {
  background: #e51c23;
  color: white;
}
