<link rel="import" href="../paper-shadow/paper-shadow.html">

<polymer-element name="tb-flash" attributes="type layout">
  <script src="tb-flash.js" type="text/javascript" charset="utf-8"></script>

  <template>
    <link rel="stylesheet" href="tb-flash.css">

    <div id="flash" class="{{ {visible: visible, fixed: layout == 'fixed', fluid: layout == 'fluid'} | tokenList }} {{type}}">
      <p>{{message}} <a id="dismiss" on-tap="{{dismiss}}">&#x2715;</a></p>
      <paper-shadow></paper-shadow>
    </div>
  </template>
</polymer-element>
