:host {
  padding: 10px 50px 50px 50px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  width: 660px;
}

#confirmation-status             { font-size: 12px; }
#confirmation-status.confirmed   { color: #616161; }
#confirmation-status.unconfirmed { color: #c41411; }

.card {
  margin: 1em;
  background: white;
  width: 540px;
}

.actions {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

paper-button {
  min-width: 150px;
  font-size: 13px;
  line-height: 2.2em;
  margin: 0 0.5em;
  background: white;
  border: 1px solid #ec3c4b;
}

paper-button.primary {
  background: #ec3c4b;
  color: white;
}
paper-button.primary::shadow #ripple {
  color: white;
}

paper-button { }
paper-button::shadow #ripple {
  color: #ec3c4b;
}

/*
 * Validated input fields change height depending on their state - wrap them in
 * a fixed height div
 */
div.validated-input {
  height: 60px;
}
div.validated-input.last {
  margin-bottom: 1em;
}
