<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Reset your Trailblazer Password</h1>
    <p>
      We&apos;re sorry to hear about your password! Don&apos;t worry though,
      all is not lost.
    </p>

    <p>
      You can recover your account by clicking the link below
    </p>

    <p><%= link_to edit_password_url(@token), edit_password_url(@token) %></p>
  </body>
</html>
