:host {
  display: inline-block;
  cursor: pointer;
}

div {
  display: inline-block;
  min-width: 128px;
  min-height: 24px;
  padding: 6px;
}

div:hover {
  background: rgba(0,0,0,0.05);
}

p {
  margin: 0;
}
