<link rel="import" href="../font-roboto/roboto.html">
<link rel="import" href="../core-ajax/core-ajax.html">
<link rel="import" href="../paper-button/paper-button.html">

<polymer-element name="tb-oauth-authorization" attributes="googleApiKey userName userEmail userUid canSignIn formTarget clientName clientId redirectURI state responseType scope changeURL">
  <script src="tb-oauth-authorization.js" type="text/javascript" charset="utf-8"></script>

  <template>
    <link rel="stylesheet" href="tb-oauth-authorization.css" type="text/css" />

    <core-ajax
      id="approve"
      url="{{formTarget}}"
      body="{{formData}}"
      headers='{"Content-Type": "application/json"}'
      method="post"></core-ajax>

    <core-ajax
      id="deny"
      url="{{formTarget}}"
      body="{{formData}}"
      headers='{"Content-Type": "application/json"}'
      method="delete"></core-ajax>

    <core-ajax
      auto
      url="https://www.googleapis.com/plus/v1/people/{{userUid}}?fields=image,cover&key={{googleApiKey}}"
      on-core-response="{{userImageLoaded}}"></core-ajax>

    <div class="container" horizontal center-justified center layout>
      <div class="card" >
        <div class="cover" id="cover" layout vertical>
          <div layout horizontal center>
            <div class="user-image">
              <img src="{{userImage}}" alt="" />
            </div>
            <div flex class="user-details">
              <div class="name">{{userName}}</div>
              <div class="email">{{userEmail}}</div>
            </div>
          </div>

          <div class="secondary">
            <button class="change" on-tap="{{changeUser}}">Use a different account</button>
          </div>

          <div id="background-protection"></div>
        </div>

        <div class="content">
          <template if="{{canSignIn == 'true'}}">
            <h1>Sign In</h1>

            <p>Sign in to <em class="application">{{clientName}}</em> and allow it to access your Trailblazer profile and data?</p>

            <div class="primary actions">
              <paper-button label="Cancel"  class="deny"    on-tap="{{deny}}"></paper-button>
              <paper-button label="Sign in" class="approve" on-tap="{{approve}}"></paper-button>
            </div>
          </template>

          <template if="{{canSignIn == 'false'}}">
            <h1>Coming Soon</h1>

            <p>
              {{clientName}} isn&apos;t <em>quite</em> ready for individuals, so
              we can&apos;t sign you in just yet. If you have another account
              that you usually use to sign in, tap the button below.
            </p>

            <div class="primary actions">
              <paper-button label="Use a different account" class="change" on-tap="{{changeUser}}"></paper-button>
            </div>
          </template>
        </div>

        <paper-shadow z="1"></paper-shadow>
      </div>
    </div>
  </template>
</polymer-element>
