<link rel="import" href="../core-ajax/core-ajax.html">
<link rel="import" href="../core-list/core-list.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<link rel="import" href="../tb-classroom/tb-classroom.html">
<link rel="import" href="../tb-classroom-detail/tb-classroom-detail.html">
<link rel="import" href="../tb-new-classroom-form/tb-new-classroom-form.html">

<polymer-element name="tb-classrooms">
  <script src="tb-classrooms.js" type="text/javascript" charset="utf-8"></script>

  <template>
    <link href="tb-classrooms.css" rel="stylesheet">

    <core-ajax
      auto
      url="/classrooms"
      handleAs="json"
      headers='{"Accept":"application/json"}'
      on-core-response="{{classroomsLoaded}}"></core-ajax>

      <tb-new-classroom-form on-core-response="{{classroomCreated}}"></tb-new-classroom-form>

      <div id="container" cross-fade layout vertical>
        <core-animated-pages selected="{{page}}" transitions="">
          <section>
            <h1>Classes</h1>
            <paper-icon-button raisedButton label="Add a class" icon="add" on-click="{{toggleDialog}}"></paper-icon-button>
            <core-list data="{{classrooms}}" height="80" on-core-activate="{{transition}}">
              <table>
                <thead>
                  <tr><th>Class</th><th>Description</th></tr>
                </thead>
                <tbody>
                  <template>
                    <tr><td>{{name}}</td><td>{{description}}</td></tr>
                  </template>
                </tbody>
              </table>
            </core-list>
          </section>

          <section id="detail">
            <tb-classroom-detail on-tb-dismiss="{{transition}}" classroom="{{selectedClassroom}}"></tb-classroom-detail>
          </section>
        </core-animated-pages>
      </div>
  </template>

</polymer-element>
