<div class="container" layout vertical center center-justified>
  <%= image_tag "logo.png", alt: "Trailblazer" %>

  <tb-profile
    profileUrl="<%= current_user_profile_url %>"
    updateProfileUrl="<%= profile_url %>"
    resendConfirmationUrl="<%= resend_confirmation_url %>">
  </tb-profile>

  <a class="photo-credit" href="https://www.flickr.com/photos/96773764@N03/8907191054/in/pool-freeuse/" target="_blank">Photo credit - Marie Ann Anderson (flickr)</a>
</div>
