<link rel="import" href="../core-ajax/core-ajax.html">

<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">

<polymer-element name="tb-classroom" attributes="classroom">
  <script src="tb-classroom.js" type="text/javascript" charset="utf-8"></script>

  <template>
    <link href="tb-classroom.css" rel="stylesheet">

    <div>
      <h2>{{classroom.name}}</h2>
      <p>{{classroom.description}}</p>

      <core-ajax
        url="/classrooms/{{classroom.id}}"
        method="DELETE"
        on-core-response="{{showToast}}"
        headers='{"Accept":"application/json","X-CSRF-Token":"{{csrfToken}}"}'></core-ajax>

      <paper-button raisedButton on-click="{{deleteClassroom}}" label="delete"></paper-button>
      <paper-shadow z="0"></paper-shadow>
    </div>
  </template>

</polymer-element>
