<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "Sign Out", sign_out_path %></li>
    <% else %>
      <li><%= link_to "Sign In", '/auth/google_apps' %></li>
    <% end %>

    <% if can? :configure, Domain %>
      <li><%= link_to "Configure Domain", configure_domain_path(current_user.domain) %></li>
    <% end %>

    <% if can? :manage, Classroom %>
      <li><%= link_to "Manage Classrooms", classrooms_path %></li>
    <% end %>
  </ul>
</nav>

<core-menu theme="core-light-theme">
  <core-item icon="social:school" label="Classes"></core-item>
  <core-item icon="settings" label="Configure Domain"></core-item>
  <core-item icon="exit-to-app" label="Sign Out"></core-item>
</core-menu>
