# Worker queue names
QUEUE: first_run,sync_domain,extract_context_data

# Google API env vars
GOOGLE_APPLICATION_NAME: "Trailblazer"
GOOGLE_APPLICATION_VERSION: "0.0.0"

GOOGLE_OAUTH2_CLIENT_ID: "client_id"
GOOGLE_OAUTH2_CLIENT_SECRET: "client_secret"

GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: "private key - see http://ar.zu.my/how-to-store-private-key-files-in-heroku/"
GOOGLE_SERVICE_ACCOUNT_SECRET: "notasecret"
GOOGLE_SERVICE_ACCOUNT_EMAIL: "service account email"

GOOGLE_BROWSER_API_KEY: "browser API key"

# Sendgrid email service credentials
SENDGRID_USERNAME: ""
SENDGRID_PASSWORD: ""

# Embedly
EMBEDLY_API_KEY: "embedly key"

# Skylight
# SKYLIGHT_APPLICATION: ""
# SKYLIGHT_AUTHENTICATION: ""

# Staging authentication
#STAGING_USERNAME: "user"
#STAGING_PASSWORD: "pass"
#STAGING_SSL: "false"

# Staging session configuration
#SESSION_KEY: "_trailblazer_staging_session"
