common: &common
  adapter: postgresql
  username: username
  password: password
  host: localhost

development:
  <<: *common
  database: trailblazer-dev

test:
  <<: *common
  database: trailblazer-test

production:
  <<: *common
  database: trailblazer-production
