<link rel="import" href="../core-ajax/core-ajax.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../core-header-panel/core-header-panel.html">
<link rel="import" href="../core-menu/core-menu.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-icons/iconsets/social-icons.html">
<link rel="import" href="../core-icons/iconsets/notification-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">

<link rel="import" href="../tb-classrooms/tb-classrooms.html">
<link rel="import" href="../tb-domain/tb-domain.html">
<link rel="import" href="../tb-home/tb-home.html">

<link rel="import" href="../tb-oauth-authorization/tb-oauth-authorization.html">

<polymer-element name="tb-app">
  <script src="tb-app.js" type="text/javascript" charset="utf-8"></script>

  <template>
    <link rel="stylesheet" href="tb-app.css">

    <core-ajax
      auto
      url="/me"
      handleAs="json"
      headers='{"Accept": "application/json"}'
      on-core-response="{{userProfileLoaded}}"></core-ajax>

    <core-header-panel>
      <core-toolbar>
        <paper-icon-button fill icon="menu" on-click="{{toggleDrawer}}" id="hamburger"></paper-icon-button>
        <span flex>Trailblazer</span>
      </core-toolbar>

      <section>
        <core-drawer-panel id="drawerPanel">
        <div drawer>
          <core-menu theme="core-light-theme" selected="0" on-core-select="{{menuSelected}}">
            <!-- <paper-item id="home" icon="home" label="Home"></paper-item> -->

            <template if="{{userProfile.admin || userProfile.teacher}}">
              <paper-item id="classrooms" icon="social:school" label="Classes"></paper-item>
            </template>

            <template if="{{userProfile.admin}}">
              <paper-item id="domain" icon="notification:sync" label="Sync with Google Apps"></paper-item>
            </template>

            <paper-item id="signout" icon="exit-to-app" label="Sign Out"></paper-item>
          </core-menu>
        </div>
        <div main>
          <core-animated-pages selected="{{mainPanel}}" transitions="cross-fade">
            <tb-home user="{{userProfile}}"></tb-home>
            <tb-classrooms></tb-classrooms>
            <tb-domain></tb-domain>
            <section>
              <span cross-fade>sign out</span>
            </section>
          </core-animated-pages>
        </div>
        </core-drawer-panel>
      </section>

    </core-header-panel>
  </template>

</polymer-element>
