tb-profile {
  margin-top: 2em;
}

#sign-out { margin-top: 40px; }


.spacer { height: 40px; }

.btn {
  text-decoration: none;
  padding: 0.5em;
  width: 150px;
  font-size: 13px;
  line-height: 2.2em;
  margin: 0 0.5em;
  background: white;
  border: 1px solid #ec3c4b;
  text-align: center;
  text-transform: uppercase;
  background: #ec3c4b;
  color: white;
  border-radius: 3px;
}
