.container {
  width: 100%;
  height: 100%;
  background: asset-url('sign_in_bg.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.container>* {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

tb-sign-in {
  margin-top: 2em;
}

.photo-credit {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
