<link rel="import" href="../core-ajax/core-ajax.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-toast/paper-toast.html">

<link rel="import" href="../tb-project/tb-project.html">
<link rel="import" href="../tb-user-chip/tb-user-chip.html">
<link rel="import" href="../tb-user/tb-user.html">

<polymer-element name="tb-classroom-detail" attributes="classroom">
  <script src="tb-classroom-detail.js" type="text/javascript" charset="utf-8"></script>

  <template>
    <link rel="stylesheet" href="tb-classroom-detail.css">

    <!-- Only fetch classrooms when we have an object supplying an ID -->
    <core-ajax
      auto="{{classroom}}"
      url="/classrooms/{{classroom.id}}/users"
      handleAs="json"
      headers='{"Accept":"application/json"}'
      on-core-response="{{membersLoaded}}"></core-ajax>

    <!-- TODO: Ask for confirmation. -->

    <core-ajax
      id="delete-classroom"
      url="/classrooms/{{classroom.id}}"
      method="DELETE"
      on-core-response="{{showToast}}"
      headers='{"Accept":"application/json","X-CSRF-Token":"{{csrfToken}}"}'></core-ajax>  

    <div>
      <div layout vertical start>
        <h1>{{classroom.name}}</h1>
        <p>{{classroom.description}}</p>
        <div class="actions">
          <paper-button raisedButton on-tap="{{dismiss}}" label="close"></paper-button>
        </div>
        <paper-button raisedButton on-click="{{confirmDeletion}}" label="delete"></paper-button>
        <paper-dialog id="really-delete" heading="You are now entering the danger zone" transition="paper-dialog-transition-bottom">
          <p>You cannot undo this! So here's an annoying dialog to make sure you didn't hit the button by accident. Because that would suck.</p>
          <paper-button label="Cancel" dismissive></paper-button>
          <paper-button label="OK" affirmative on-tap="{{deleteClassroom}}" default></paper-button>
        </paper-dialog>
        

        


        <!-- Only fetch project details when we have an object supplying an ID -->
        <core-ajax
          auto="{{classroom}}"
          url="/classrooms/{{classroom.id}}/projects"
          handleAs="json"
          headers='{"Accept":"application/json"}'
          on-core-response="{{projectsLoaded}}"></core-ajax>

        <h2>Projects</h2>

        <div class="actions">
          <paper-button raisedButton on-tap="{{toggleCreateProject}}" label="new project"></paper-button>
        </div>

        <core-ajax
          id="create-project"
          url="/classrooms/{{classroom.id}}/projects"
          method="POST"
          handleAs="json"
          body="{{projectPayload}}"
          headers='{"Accept":"application/json","Content-Type":"application/json","X-CSRF-Token":"{{csrfToken}}"}'
          on-core-response="{{onProjectCommitted}}"></core-ajax>

        <template if="{{createProjectVisible}}">
          <paper-input floatingLabel value="{{project.name}}" label="Project name"></paper-input>
          <paper-input floatingLabel multiline rows="3" value="{{project.description}}" label="Project description"></paper-input>
          <paper-button class="primary" raisedButton on-tap="{{createProject}}" label="create"></paper-button>
        </template>

        <template repeat="{{projects as project}}">
          <tb-project on-tap="{{}}" project="{{project}}"></tb-project>
        </template>

        <h2>Students</h2>

        <div class="actions">
          <paper-button raisedButton on-tap="{{toggleAddMembers}}" label="add students"></paper-button>
        </div>

        <template if="{{addMembersVisible}}">
          <div cross-fade id="addMembers" >
            <h2>Add members</h2>

            <core-ajax
              id="search"
              url="/users/search?q={{searchInput}}"
              handleAs="json"
              headers='{"Accept":"application/json"}'
              on-core-response="{{handleSearchResult}}"></core-ajax>

            <h3>Find new members</h3>
            <p>Search for members and tap to add</p>
            <paper-input floatingLabel on-change="{{queueSearch}}" value="{{searchInput}}" label="name or email address"></paper-input>
            <paper-icon-button fill class="primary" icon="search" raisedButton on-tap="{{queueSearch}}"></paper-icon-button>
            <div id="search-results">
              <template repeat="{{results as user}}">
                <tb-user-chip on-tap="{{stageUser}}" user="{{user}}"></tb-user-chip>
              </template>
            </div>

            <template if="{{stagedUsers.length > 0}}">
              <core-ajax
                id="enroll-members"
                url="/classrooms/{{classroom.id}}/enroll"
                handleAs="json"
                method="PUT"
                body='{"users":[ {{ stagedUserIds }} ]}'
                headers='{"Accept":"application/json","Content-Type":"application/json","X-CSRF-Token":"{{csrfToken}}"}'
                on-core-response="{{onUsersCommitted}}"></core-ajax>

              <h3>Ready to Add</h3>
              <p>Tap save to add these people to the class</p>

              <div>
                <template repeat="{{stagedUsers as user}}">
                  <tb-user-chip on-tap="{{unstageUser}}" user="{{user}}"></tb-user-chip>
                </template>
              </div>

              <paper-button class="primary" on-tap="{{commitUsers}}" raisedButton label="save"></paper-button>
            </template>
          </div>
        </template>

        <core-ajax
          id="withdraw-members"
          url="/classrooms/{{classroom.id}}/withdraw"
          handleAs="json"
          method="PUT"
          body='{"users":[ {{ withdrawnUserIds }} ]}'
          headers='{"Accept":"application/json","Content-Type":"application/json","X-CSRF-Token":"{{csrfToken}}"}'
          on-core-response="{{onWithdrawn}}"></core-ajax>

        <template repeat="{{members as member}}">
          <tb-user user="{{member}}"></tb-user><!--<paper-button label="remove" class="danger" on-tap="{{withdrawMember}}"></paper-button>-->
        </template>

        <paper-toast class="project-created" text="Project created"></paper-toast>
        <paper-toast class="enrolled" text="Classmembers added"></paper-toast>
        <paper-toast class="withdrawn" text="Classmembers removed"></paper-toast>

      </div>
    </div>
  </template>

</polymer-element>
