<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <script src="/assets/components/platform/platform.js" type="text/javascript" charset="utf-8"></script>

  <!-- for the moment we're specifying all dependencies here as including them
       in each individual element causes a dependency error to be thrown -->
  <link rel="import" href="/assets/components/core-ajax/core-ajax">
  <link rel="import" href="/assets/components/core-animated-pages/core-animated-pages">
  <link rel="import" href="/assets/components/core-drawer-panel/core-drawer-panel">
  <link rel="import" href="/assets/components/core-header-panel/core-header-panel">
  <link rel="import" href="/assets/components/core-icons/core-icons">
  <link rel="import" href="/assets/components/core-icons/iconsets/social-icons">
  <link rel="import" href="/assets/components/core-item/core-item">
  <link rel="import" href="/assets/components/core-list/core-list">
  <link rel="import" href="/assets/components/core-toolbar/core-toolbar">
  <link rel="import" href="/assets/components/core-tooltip/core-tooltip">

  <link rel="import" href="/assets/components/font-roboto/roboto">

  <link rel="import" href="/assets/components/paper-dialog/paper-dialog">
  <link rel="import" href="/assets/components/paper-dialog/paper-dialog-transition">
  <link rel="import" href="/assets/components/paper-fab/paper-fab">
  <link rel="import" href="/assets/components/paper-input/paper-input">
  <link rel="import" href="/assets/components/paper-item/paper-item">
  <link rel="import" href="/assets/components/paper-menu-button/paper-menu-button">
  <link rel="import" href="/assets/components/paper-toast/paper-toast">

  <link rel="import" href="/assets/components/tb-app/tb-app">
  <link rel="import" href="/assets/components/tb-classrooms/tb-classrooms">
  <link rel="import" href="/assets/components/tb-classroom/tb-classroom">
  <link rel="import" href="/assets/components/tb-classroom-detail/tb-classroom-detail">
  <link rel="import" href="/assets/components/tb-domain/tb-domain">
  <link rel="import" href="/assets/components/tb-home/tb-home">
  <link rel="import" href="/assets/components/tb-new-classroom-form/tb-new-classroom-form">
  <link rel="import" href="/assets/components/tb-project/tb-project">
  <link rel="import" href="/assets/components/tb-user/tb-user">
  <link rel="import" href="/assets/components/tb-user-chip/tb-user-chip">

</head>
<body unresolved fullBleed>

  <tb-app></tb-app>

</body>
</html>
