<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript" charset="utf-8"></script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>

</body>
</html>
